<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet"/>
<!--Import materialize.css-->
 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Menu</title>
</head>
<body>
	<!-- rodape-->
	<footer class="page-footer l light-blue darken-3"  th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col s12 center">
					<a href="http://www.utfpr.edu.br/guarapuava"> <img
						src="img/lotericaslogo.png" id="utfpr-footer"
						class=" img-responsive" height="70px" />
					</a>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container center">
				&#169; Copyright <span id="year"></span> - Todos os direitos
				reservados
			</div>
		</div>
	</footer>
	<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script src="resources/js/common.js"></script>
</body>
</html>